# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs
*.log
*.log.*
lerna-debug.log

# Env
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
*.pid
*.seed

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
